@import url('./cssVariables.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body.claro{
    background-color: var(--fondoClaro);
    color: var(--textoClaro);
}

body.oscuro{
    background-color: var(--fondoOscuro);
    color: var(--textoOscuro);
}

main{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

section{
    box-shadow: var(--sombra);
    border-radius: 8px;
}

section.claro{
    background-image: var(--gradienteClaro);
}

section.oscuro{
    background-image: var(--gradienteOscuro);
}

@media screen and (width > 480px) {
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}